// font sizes
$text_xs: 1rem;
$text_sm: 1rem;
$text_base: 1rem;
$text_md: 1rem;
$text_lg: 1rem;
$text_xl: 1rem;

// colors
$primary_color: hsla(0, 0%, 6%, 1);
$secondary_color: hsla(297, 68%, 31%, 1);
$carrot-orange: hsla(36, 99%, 47%, 1);
$white_color: hsla(60, 100%, 99%, 1);

// /* SCSS Gradient */
// $gradient-top: linear-gradient(0deg, #0f0f0fff, #801a86ff, #f18f01ff, #fffffaff);
// $gradient-right: linear-gradient(90deg, #0f0f0fff, #801a86ff, #f18f01ff, #fffffaff);
// $gradient-bottom: linear-gradient(180deg, #0f0f0fff, #801a86ff, #f18f01ff, #fffffaff);
// $gradient-left: linear-gradient(270deg, #0f0f0fff, #801a86ff, #f18f01ff, #fffffaff);
// $gradient-top-right: linear-gradient(45deg, #0f0f0fff, #801a86ff, #f18f01ff, #fffffaff);
// $gradient-bottom-right: linear-gradient(135deg, #0f0f0fff, #801a86ff, #f18f01ff, #fffffaff);
// $gradient-top-left: linear-gradient(225deg, #0f0f0fff, #801a86ff, #f18f01ff, #fffffaff);
// $gradient-bottom-left: linear-gradient(315deg, #0f0f0fff, #801a86ff, #f18f01ff, #fffffaff);
// $gradient-radial: radial-gradient(#0f0f0fff, #801a86ff, #f18f01ff, #fffffaff);
